<div id="app" class="d-flex flex-column h-100">

  <div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #loaded>
    <mat-toolbar color="primary">
      Desafio Técnico - Southsystem
      <span class="example-spacer"></span>
      <app-authentication-button></app-authentication-button>
    </mat-toolbar>

    <div class="container flex-grow-1">
      <div class="mt-5">
        <router-outlet></router-outlet>
      </div>
    </div>

  </ng-template>
</div>
